body {
  background: url(http://image.basekit.com/bkpam299873_grass-fed-cow-europe_1155.jpg) no-repeat;
  background-size: 100vw;
 }

 .couriernew {
   font-family: Courier New;
 }

.container * {
  font-family:Helvetica;
}
/*.row {
  border:red 1px solid;
}*/

#logo {
  border-radius: 100%;
  width: 10%;
}

.header-font {
  font-size: 16px;
  color:#5D220A;
  font-family: Courier New;
  font-weight: bold;
}

#search {
  width:17px
}

.biggerrow {
  margin-top: 30vw;
}

.bigrow {
  margin-top: 5vw;
}

.font-kern {
  font-stretch:
}

.almostbigrow {
  margin-top: 2.5vw;
}

.title-font {
  /*margin-top: 30vw;*/
  margin-bottom:0;
  color:white;
  font-family: Courier New;
  font-size: 4.0vw;
  line-height:1;
}

.subscript-font {
  color: white;
  font-family:Courier New;
  font-size: 1.3vw;
}

.small-margin {
  margin-bottom: 0;
}

.some-pad-top {
  padding-top: 3vw;
}

.img-extra-rounded {
  border-radius: 100%;
  width:20%;
  display:inline-block;
}

.bahia {
  color:#9CD200;
}

.lightgrey {
  color:lightgrey
}

#date {
  padding-top:.7vw;
}

h1 {
  font-size:6vw;
}

.pad-right {
  padding-right: 6vw;
}

#bigtext {
  border-left: 3px solid #591D0A;
  margin-left: 2vw;
  padding-left: 3vw;
  color: #9CD200;
}

.background-gray {
  background-color: gray;
}

.background-green {
  background-color: #9CD200;
}

btn-sm {
  margin-right: 2px;
}

.img-center {
  margin: 0 auto;
  display:block;
}

.img-rounded {
  border-radius: 100%
}

a {
  color:grey;
}

a:hover {
  color:lightgrey;
}

.margin-bot{
  margin-bottom: 0;
}

.padding-sides {
  padding-left: 2vw;
  padding-right: 2vw;
}

.top-border {
border-top: #591D0A 2px solid;
}

.top-pad {
  padding-top: 5vw;
}

.uniform-height {
  width:100%;
  height: 20vw;
  object-fit: cover;
}

#longhorn {
  object-position: 0%;
}

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.relative-up {
  color:white;
  text-align: right;
  position:relative;
  top:-20vw;
  left:0;
  padding-right: 2vw;
  padding-top: 15vw;
}
